@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #040311;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: #ededed;;
  font-family: Arial, Helvetica, sans-serif;
}
